/tmp/
/log/
/nbproject/
/config/database.yml
.gitignore
.gitignore~
/db/structure.sql
/db/schema.rb
/public/assets/
.tags_sorted_by_file
/tmp/
.Gemfile.lock
.tags
/coverage
/nbproject/
/.idea/*
/coverage/*
Gemfile.lock
/public/assets/
/log/*
/public/uploads
/.bundle
development.log
.rspec
