<div class="accordion-group">
  <div class="accordion-heading">
    <a class="accordion-toggle" data-toggle="collapse"  href="#collapse1" data-parent="#accordion">
      <%=t('form.title.statistic.category')%>
    </a>
  </div>
  <div id="collapse1" class="accordion-body collapse in">
    <div id="chart_container_cat" class="accordion-inner chart-container">
      <!--category chart will be rendered here-->
    </div>
  </div>
</div>