<div class="accordion-group">
  <div class="accordion-heading">
    <a class="accordion-toggle" data-toggle="collapse" href="#collapse5" data-parent="#accordion">
      <%=t('form.title.statistic.date')%> (<%=t('menu.transaction.from_account.to_category')%>)
    </a>
  </div>
  <div id="collapse5" class="accordion-body collapse">
    <div id="chart_container_date_3" class="accordion-inner chart-container">
      <!--date chart will be rendered here-->
    </div>
  </div>
</div>