<div class="accordion-group">
  <div class="accordion-heading">
    <a class="accordion-toggle" data-toggle="collapse" href="#collapse3" data-parent="#accordion">
      <%=t('form.title.statistic.date')%> (<%=t('menu.transaction.from_account.to_cash')%>)
    </a>
  </div>
  <div id="collapse3" class="accordion-body collapse">
    <div id="chart_container_date_2" class="accordion-inner chart-container">
      <!--date chart will be rendered here-->
    </div>
  </div>
</div>