<span class="paginator-previous-page">
  <%= link_to_unless current_page.first?, raw(t 'views.pagination.dummy'), url, :rel => 'prev', :remote => remote, :title => raw(t 'views.pagination.previous') %>
</span>