// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.form-category{
  width: 500px;
}

.category-color-field{
  width: 60px;
}

.color-div{
  display: inline-block;
  width: 50px;
}

//-- data list start --//

.category-data-item{
  background-color: #eef;
}

.header-category-color{
  width: 60px;
}

.body-category-color,
.body-category-name,
.body-category-description{
  display: inline-block;
  vertical-align: top;
}

.body-category-color{
  width: 55px;
}

.body-category-color div{
  width: 50px;
  height: 20px;
  border-radius: 10px;
}

.header-category-name,
.body-category-name{
  width: 200px;
}

.body-category-name{
  padding-left: 5px;
  padding-right: 10px;
}

.header-category-description,
.body-category-description{
  width: 400px;
}
//-- data list end --//
