/*
.form-login{
  width: 340px;
}

.form-signup{
  width: 500px;
}

.login-button{
  margin-top: 0px !important;
  width: 64px !important;
  height: 64px !important;
  background: url(image_path('icons/login64.png')) no-repeat;
}

.register-button{
  margin-top: -15px !important;
  background: url(image_path('icons/registration48.png')) no-repeat;
}

.send-button{
  margin-top: -10px !important;
  background: url(image_path('icons/send48.png')) no-repeat;
}

.login-form-input-field{
  width: 235px;
}

.remember-me{
  margin-top: 5px;
  margin-bottom: 5px;
}

.form-info{
  padding: 5px;
  border: 1px solid #4682b4;
  border-radius: 5px;
}
*/