html, body{
  width: 100%;
  height: 100%;
  overflow: hidden;
  //background: url(image_path('background1.png')) #222 repeat;
  font: normal 90% verdana, arial, helvetica, sans-serif;
}

.viewport {
  width: 100%;
  height: 100%;
  margin: auto;
  background: url(image_path('background1.png')) #222 repeat;
  border-left: 1px solid black;
  border-right:1px solid black;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 465px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff; }
  ul li {
    font-size: 12px;
    list-style: none;
  }
}

//page header with logo, application title
//and logged user full name or email if user already logged in application
.header{
  width: 100%;
  height: 28px;
  background-color: #4682b4;
  color: #fff;
}

.header > .logo,
.header > .logo-image,
.header > .current-user{
  display: inline-block;
}

.header > .logo{
  margin-top: 3px;
  line-height: 18px;
  vertical-align: top;
  font-size:  1.8em;
  text-align: left;
  text-shadow: black 1px 1px 2px, red 0 0 1em;
}

.header > .logo-image{
  width: 28px;
  height: 28px;
  background: url(image_path('icons/logo_small.png')) no-repeat
}

.current-user{
  float: right;
  width: 400px;
  margin-top: 5px;
  margin-right: 10px;
  text-align: right;
  font-size: 1.1em;
}

.current-user span{
  padding-left: 3%;
  font-weight: bold;
}

.current-user span a{
  color: #fff;
}


.content{
  margin: 0.5%;
  padding: 0.5%;
}

.form, .table-wrapper{
  margin: auto;
  background-color: #fff;
  border: 1px solid #4682b4;
  border-radius: 10px;
}

.table-wrapper{
  border: none;
}

.form-header, .table-wrapper-header{
  height: 25px;
  padding-left: 1.2%;
  padding-top: 0.7%;
  background-color: #4682b4;
  color: white;
  border-radius: 10px 10px 0 0;
  font-size: 1.1em;
  font-weight: bold;
 }

.form-body, .table-wrapper-body{
  padding: 2%;
  background: url(image_path('background2.png')) #fff repeat;
  border-radius: 0 0 10px 10px;
}

.table-wrapper-body{
  padding: 0.8%;
}

.form-info{
  padding: 1%;
  border: 1px solid #4682b4;
  border-radius: 5px;
}

.form-buttons input{
  margin-top: -14px;
  float: right;
  height: 48px;
  width: 48px;
  border: none;
  cursor: pointer;
}

.save-button{
  background: url(image_path('icons/save48.png')) no-repeat;
}

.input-field{
  width: 300px;
}

.input-field-disabled{
 color: #999;
}

.text-area{
  width: 470px;
  min-width: 470px;
  max-width: 470px;
  height: 100px;
  min-height: 100px;
  max-height: 100px;
}

.link-wrapper{
  padding-top: 10px;
}

.link{
  padding: 4px;
  background-color: #4682b4;
  color: #fff !important;
  font-weight: bold;
  border-color: #111 !important;
  border-radius: 5px;
  text-decoration: none;
}

.link-inline{
  display: inline-block;
}

.link:hover{
  background-color: #539cd6;;
  color: #fff !important;
}

.link-delete{
  background-color: #a00;
}

.link-delete:hover{
  background-color: #e00;
}

.data-table{
  width: 100%;
  margin-top: 10px;
  border: none;
}

.data-table th{
  height: 25px;
  padding-top: 3px;
  padding-left: 5px;
  background-color: #4682b4;
  border: 1px solid #4682b4;
  color: #fff;
}

.data-table td{
  height: 30px;
  border: 1px solid #4682b4;
  padding-top: 6px;
}

.data-wrapper{
  overflow: auto;
}

.data-item{
  width: 98%;
  margin-top: 5px;
  padding: 5px;
  border: 1px solid #4682b4;
  border-radius: 5px;
}

.td-edit, .td-delete{
  display: inline-block;
  float: right
}

.td-edit{
  width: 125px;
}

.td-delete{
  width: 68px;
}

.paginator{
  display: inline-block;
  float: right;
}

//categories
.form-category{
  width: 500px;
}

.category-color-field{
  width: 60px;
}

.color-div{
  display: inline-block;
  width: 50px;
}

.category-sorting-form{
  display: inline-block;
  float: right;
  height: 25px;
}

//accounts
.amount-input-field{
  width: 140px !important;
}

//transactions
.emptyh20{
  height: 20px;
}

.form-transaction{
  width: 500px;
  height: auto;
}

.div-padding5{
  padding-top: 5px;
}

.account-select{
  width: 300px;
}

.account-name{
  font-weight: bold;
}

.transaction-filter-form{
  display: inline-block;
  width: 600px;
}

//weights
.weight-data-item{
  background-color: #eef;
}

.td-add_eating{
  width: 117px;
}

.form-weight{
  width: 500px;
  height: auto;
}

.weight-input-field{
  width: 120px;
}

.training-input-field{
  width: 30px;
  padding-top: 5px;
}

.new_eating_link{
  margin-top: 15px;
}


.marker{
  width: 24px;
  margin-left: 38px;
  background: url(image_path('icons/marker24.png')) no-repeat;
}

//eatings
.eating-type-select{
  width: 130px;
}

.eating-wrapper{
  margin-top: 15px;
}

.eating-type{
  width: 150px;
  font-weight: bold;
}

.eating-time{
  width: 100px;
  padding-left: 5px;
  font-weight: bold;
}

.eating-food{
  padding-left: 5px;
  font-style: italic;
}

.eating-food-normal{
  color: #080;
}

.eating-food-overweight{
  color: #800;
}

.eating-food-violation{
  color: #D90;
}

.link-small{
  font-size: 10px;
}

.eating-data-item{
  margin-top: 7px;
}

.eating-color-description{
  display: inline;
  margin-left: 30px;
}

.eating-color-overweight,
.eating-color-violation,
.eating-color-normal{
  display: inline-block;
  margin-left: 5px;
  margin-right: 15px;
  width: 20px;
  height: 20px;
}

.eating-color-overweight{
  background-color: #800;
}

.eating-color-violation{
  background-color: #D90;
}

.eating-color-normal{
  background-color: #080;
}

//statistics
.statistic-table-wrapper-body{
  border-radius: 10px 10px 0 0;
}

.statistic-graph-wrapper{
  width: 100%;
  min-width: 200px;
  height: 400px;
}

.statistic-date-label{
  margin-left: 15px;
}

.statistic-date-field{
  width: 80px;
}