html, body{
  width: 100%;
  height: 100%;
  background: url(image_path('background.jpg')) #000 repeat;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  overflow-x: none;
  overflow-y: auto;
}

.viewport {
  width: 1024px;
  height: 100%;
  margin: auto;
  background-color: #222;
  border-left: 1px solid black;
  border-right:1px solid black;
  border-radius: 0px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a {
  color: #000;
  &:visited {
    color: #666; }
}

div {
  &.field, &.actions {
    margin-bottom: 10px; } }

#notice {
  padding: 5px;
  color: #fff;
  font-size: 16px;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 465px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff; }
  ul li {
    font-size: 12px;
    list-style: none;
  }
}

.header{
  width: 100%;
  height: 33px;
  margin: 0px;
  padding: 5px 0px 0px 0px;
  background-color: #4682b4;
  border-radius: 0px 0px 0px 0px;
}

.logo{
  display: inline-block;
  margin-top: 3px;
  padding-left: 10px;
  font-size: 28px;
  font-family: Helvetica;
  font-style: normal;
  text-align: left;
  color: #ffffff;
  vertical-align: top;
}

.logo-image{
  display: inline-block;
  width: 28px;
  height: 28px;
  margin-left: 10px;
  background: url(image_path('icons/logo_small.png')) no-repeat
}

.current-user{
  margin-top: 4px;
  float: right;
  padding-right: 10px;
  color: #fff;
  font-size: 14px;
}

.content{
  margin: 20px;
  padding: 10px;
}

.form, .table-wrapper{
  margin: auto;
  background-color: #ffffff;
  border: 1px solid #4682b4;
  border-radius: 10px;
}

.table-wrapper{
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.form-header, .table-wrapper-header{
  height: 25px;
  padding-left: 10px;
  padding-top: 4px;
  background-color: #4682b4;
  border-radius: 10px 10px 0px 0px;
 }

.form-header span, .table-wrapper-header span{
  color: white;
  font-size: 16px;
  font-family: Helvetica;
  font-weight: bold;
}

.form-body, .table-wrapper-body{
  padding: 10px;
}

.form-info{
  padding: 5px;
  border: 1px solid #4682b4;
  border-radius: 5px;
}

.remember-me{
  margin-top: 5px;
}

.form-buttons{
  padding-top: 5px;
}

.form-buttons input{
  margin-top: -14px;
  float: right;
  height: 48px;
  width: 48px;
  border: none;
  cursor: pointer;
}

.save-button{
  background: url(image_path('icons/save48.png')) no-repeat;
}

.input-field{
  width: 300px;
}

.input-field-disabled{
 color: #999;
}

.text-area{
  width: 470px;
  min-width: 470px;
  max-width: 470px;
  height: 100px;
  min-height: 100px;
  max-height: 100px;
}

.link-wrapper{
  padding-top: 10px;
}

.link{
  padding: 4px;
  background-color: #4682b4;
  color: #ffffff !important;
  font-weight: bold;
  border-color: #111 !important;
  border-radius: 5px;
  text-decoration: none;
}

.link:hover{
  background-color: #539cd6;;
  color: #fff !important;
}

.link-delete{
  background-color: #aa0000;
}

.link-delete:hover{
  background-color: #ee0000;
}

.data-table{
  width: 100%;
  margin-top: 10px;
  border: none
}

.data-table th{
  height: 25px;
  padding-top: 3px;
  padding-left: 5px;
  background-color: #4682b4;
  border: 1px solid #4682b4;
  color: #fff;
}

.data-table td{
  height: 30px;
  border: 1px solid #4682b4;
  padding-top: 6px;
}

.data-table td.td-show{
  width: 90px;
  border-left: none;
  border-right: none;
}

.data-table td.td-edit{
  width: 130px;
  border-left: none;
  border-right: none;
}

.data-table td.td-delete{
  width: 80px;
  border-left: none;
}
