body{
  padding-top: 60px;
  padding-bottom: 40px;

  background-color: #036;
}

.application-form{
  min-width: 250px;
  max-width: 500px;
}

.margintop10px{
  margin-top: 10px;
}

.marginleft10px{
  margin-left: 10px;
}

.no-disp{
  display: none !important;
}

.color-indicator-small,
.color-indicator{
  border-radius: 5px;
  box-shadow: 3px 3px 3px #aaa;
}

.color-indicator{
  width: 30px;
  height: 30px;
}

.color-indicator-small{
  display: inline-block;

  width: 20px;
  height: 20px;
}

.badge-black-font{
  color: #333 !important;
  text-align: center;
  font-weight: normal;
}

.no-list-style{
  list-style: none;
}

.td-center{
  text-align: center !important;
}

#history > p{
  text-align: justify;
  text-indent: 30px;
}

table{
  background-color: #fff;
}

.footer {
  position: fixed;
  bottom: 0;

  width: 100%;
  height: 20px;

  padding: 5px 0 5px 10px;

  background-color: #FAFAFA;
  background-image: linear-gradient(to bottom, #FFFFFF, #F2F2F2);
  background-repeat: repeat-x;

  border: 1px solid #D4D4D4;

  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}

.error-row > td{
  background-color: #ff0000 !important;
}

/*twitter bootstrap overrides*/
.modal{
  top:  0 !important;
}

.nav-pills > li{
  margin-right: 10px;
}

.nav-pills > li.double{
  margin-left: 40px;
}

.nav-pills{
  list-style: none;
}

.help-block{
  width: 270px;
  padding: 5px;

  text-align: justify;
  font-size: 11px;
}

.chart-container{
  width: 100%;
  height: 400px;
  background: #ffffff;
}

