body {padding-top: 60px; padding-bottom: 40px;}

.application-form{min-width: 250px; max-width: 500px;}
.margintop10px{margin-top: 10px;}
.marginleft10px{margin-left: 10px;}
.no-disp{display: none;}

.color-indicator{width: 30px; height: 30px; border-radius: 15px;}
.color-indicator-small{display: inline-block; width: 20px; height: 20px; border-radius: 10px;}
.badge-black-font{color: #333 !important;}
.no-list-style{list-style: none;}