/*
//--common data column styles--//
#editButtonsHeaderID{
  width: 165px;
  min-width: 165px;
}

[class|=body]{
  display: inline-block;
  vertical-align: top;
}

.account-data-item,
.category-data-item,
.transaction-data-item{
  background-color: #eef;
}

//-- transactions data columns--//
#transactionDateHeaderID,
.body-transaction-date{
  width: 90px;
  min-width: 90px;
}

.body-transaction-date{
  font-weight: bold;
  text-align: center;
  border-radius: 8px;
}

#transactionSumHeaderID,
.body-transaction-summa{
  width: 60px;
  min-width: 60px;
  font-weight: bold;
}

#transactionAccountHeaderID1,
#transactionAccountHeaderID2,
.body-transaction-account{
  width: 200px;
}

.body-transaction-comment{
  padding-top: 5px;
  padding-left: 170px;
  padding-right: 10px;
}

//-- accounts data columns--//
#accountAmountHeaderID,
.body-account-amount{
  width: 70px;
}

#accountNameHeaderID,
#accountDescriptionHeaderID,
.body-account-name,
.body-account-description{
  width: 300px;
}

//-- categories data columns--//
#categoryColorHeaderID,
.body-category-color{
  width: 50px;
}

.body-category-color-s{
  width: 23px;
}

.body-category-color div,
.body-category-color-s div{
  width: 20px;
  height: 20px;
  border-radius: 10px;
}

#categoryNameHeaderID,
#categoryDescriptionHeaderID,
.body-category-name,
.body-category-description{
  width: 200px;
}

//-- weights data columns--//
#weightDateHeaderID,
.body-weight-date{
  width: 90px;
}

#weightWeightHeaderID,
.body-weight-weight{
  width: 60px;
}

.body-weight-weight{
  font-weight: bold;
}

#weightTrenningHeaderID,
#weightWeekDifferenceHeaderID,
#weightMonthDifferenceHeaderID,
#weightDayDifferenceHeaderID,
.body-weight-training,
.body-weight-day-difference,
.body-weight-week-difference,
.body-weight-month-difference{
  width: 80px;
  text-align: center;
}
*/