// Place all the styles related to the Transactions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.emptyh20{
  height: 20px;
}

.form-transaction{
  width: 500px;
  height: auto;
}

.div-padding5{
  padding-top: 5px;
}

.account-select{
  width: 300px;
}

.account-name{
  font-weight: bold;
}

//-- data list start --//
.body-transaction-date,
.body-transaction-summa,
.body-transaction-account{
  display: inline-block;
  vertical-align: top;
}


.header-transaction-date,
.body-transaction-date{
  width: 95px;
}

.body-transaction-date{
  padding-left: 10px;
  width: 85px;
}

.header-transaction-summa,
.body-transaction-summa{
  width: 90px;
}

.header-transaction-account,
.body-transaction-account{
  width: 250px;
}
//-- data list end --//