.td-add_eating{
  width: 117px;
}

.form-weight{
  width: 500px;
  height: 200px;
}

.weight-input-field{
  width: 120px;
}

.training-input-field{
  width: 30px;
  padding-top: 5px;
}

.new_eating_link{
  margin-top: 15px;
}

.header-weight-date{
   width: 90px;
}

.header-weight-weight{
  width: 50px;
}

.header-weight-training{
  width: 100px;
}

.header-weight-day-difference{
  width: 140px;
}

.header-weight-week-difference{
  width: 100px;
}

.header-weight-month-difference{
  width: 100px;
}

.body-weight-date,
.body-weight-weight,
.body-weight-training,
.body-weight-day-difference,
.body-weight-week-difference,
.body-weight-month-difference{
  display:  inline-block;
}

.body-weight-date{
  width: 90px;
}

.body-weight-weight{
  font-weight: bold;
  width: 50px;
}

.body-weight-training{
  width: 100px;
}

.body-weight-training,
.body-weight-day-difference,
.body-weight-week-difference,
.body-weight-month-difference{
  text-align: center;
}

.body-weight-day-difference{
  width: 140px;
}

.body-weight-week-difference{
  width: 100px;
}

.body-weight-month-difference{
  width: 100px;
}

.marker{
  width: 24px;
  margin-left: 38px;
  background: url(image_path('icons/marker24.png')) no-repeat;
}