<!--category description field-->
<div <% if @category.errors[:description].present? %>
        class="control-group error"
     <%elsif @category.errors.any?%>
        class="control-group success"
     <%else%>
        class="control-group"
     <% end %>>
  <%= label_tag :description, t('field.common.description'), :class => 'control-label' %>
  <div class="controls">
    <%= f.text_area :description, :size => '60x6', :class => 'input-xlarge'%>

    <p class="help-block no-disp">
      <%=t('tooltip.input.category.description')%>
    </p>
  </div>
</div>