<!--category color field-->
<div <% if @category.errors[:color].present? %>
        class="control-group error"
     <%elsif @category.errors.any?%>
        class="control-group success"
     <%else%>
        class="control-group"
     <% end %>>
  <%= label_tag :colorFieldId, t('field.category.color'), :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :color, :readOnly => 'readOnly', :class => 'input-mini'%>

    <p class="help-block no-disp">
      <%=t('tooltip.input.category.color')%>
    </p>
  </div>
</div>