<!--category color field-->
<div <% if @category.errors[:color].present? %>
        class="control-group error"
     <%elsif @category.errors.any?%>
        class="control-group success"
     <%else%>
        class="control-group"
     <% end %>>
  <%= label_tag :colorFieldId, t('field.category.color'), :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :color, :readOnly => 'readOnly', :class => 'input-mini', :title => t('tooltip.input.category.color')%>
    <% if @category.errors[:color].present? %>
        <% @category.errors[:color].each do |msg|%>
            <p class="help-block"><%= msg%></p>
        <%end%>
    <%end%>
  </div>
</div>