<!--form buttons and navigation links-->
<div class="control-group">
  <div class="controls">
    <%= link_to categories_path, :class=>'btn', :title => t('tooltip.back') do%>
        <i class="icon-arrow-left"></i> <%=t('button.back')%>
    <%end%>
    <%= link_to '#', class: 'btn btn-primary', :id => 'submit', :title => t('button.save') do%>
        <i class="icon-ok icon-white"></i> <%=t('button.save')%>
    <%end%>
  </div>
</div>