<p><%=t('mail.sign_up.title')%> <%= @resource.email %>!</p>

<p><%=t('mail.sign_up.message')%></p>

<p><%= link_to t('mail.sign_up.link'), confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
