<!--category field-->
<div <% if @transaction.errors[:category_id].present? %>
        class="control-group error"
     <%elsif @transaction.errors.any?%>
        class="control-group success"
     <%else%>
        class="control-group"
     <% end %>>
  <%= label_tag :category_id, t('field.transaction.category'), :class => "control-label" %>
  <div class="controls">
    <%= collection_select(:transaction, :category_id, @categories, :id, :name,
                              {:include_blank => t('common.undefined')}, {:id => "category_id", :disabled => !@task_new})%>

    <% if @transaction.errors[:category_id].present? %>
        <% @transaction.errors[:category_id].each do |msg|%>
            <p class="help-block"><%= msg%></p>
        <%end%>
    <%end%>
  </div>
</div>