<!--cash to field-->
<div <% if @transaction.errors[:account_to_id].present? %>
     class="control-group error"
     <%elsif @transaction.errors.any?%>
     class="control-group success"
     <%else%>
     class="control-group"
     <% end %>>
  <%= label_tag :account_to_id, t('field.transaction.cash_to'), :class => "control-label" %>
  <div class="controls">
    <%if @task_new == true%>
        <%= collection_select(:transaction, :account_to_id, @cashes, :id, :name_with_amount,
                              {:include_blank => t('common.undefined')}, {:id => "account_to_id"})%>
    <%else%>
        <p class="help-block span4"> <%= @transaction.account_to.name%></p>
    <%end%>
    <% if @transaction.errors[:account_to_id].present? %>
        <% @transaction.errors[:account_to_id].each do |msg|%>
            <p class="help-block"><%= msg%></p>
        <%end%>
    <%end%>
  </div>
</div>