<!--account to field-->
<div <% if @transaction.errors[:account_to_id].present? %>
        class="control-group error"
     <%elsif @transaction.errors.any?%>
        class="control-group success"
     <%else%>
        class="control-group"
     <% end %>>
  <%= label_tag :account_to_id, t('field.transaction.account_to'), :class => "control-label" %>
  <div class="controls">
    <%= collection_select(:transaction, :account_to_id, @accounts, :id, :name_with_amount,
                              {:include_blank => t('common.undefined')}, {:id => "account_to_id", :disabled => !@task_new})%>

    <% if @transaction.errors[:account_to_id].present? %>
        <% @transaction.errors[:account_to_id].each do |msg|%>
            <p class="help-block"><%= msg%></p>
        <%end%>
    <%end%>
  </div>
</div>
