<div class="control-group">
  <%= label_tag :sum_max, t('field.filter.transaction.amount_to'), :class => 'control-label' %>
  <div class="controls">
    <%= text_field_tag :sum_max, @sum_max%>
  </div>
</div>