<div class="control-group">
  <%= label_tag :account_from, t('field.transaction.account_from'), :class => 'control-label' %>
  <div class="controls">
    <%=select_tag :account_from, options_from_collection_for_select(@accounts, :id, :name, @account_from),
                  {:include_blank => true}%>
  </div>
</div>