<div class="control-group">
  <%= label_tag :date_from, t('field.filter.transaction.date_from'), :class => 'control-label' %>
  <div class="controls">
    <%= text_field_tag :date_from, @date_from, :readOnly => 'readonly'%>
  </div>
</div>