<div class="control-group">
  <%= label_tag :sum_min, t('field.filter.transaction.amount_from'), :class => 'control-label' %>
  <div class="controls">
    <%= text_field_tag :sum_min, @sum_min%>
  </div>
</div>