<div class="margin-top10">
  <%if @task_new == true%>
      <%= label_tag :account_to_id, t('field.transaction.account_to'), :class => "form-label"%><br/>
      <%= collection_select(:transaction, :account_to_id, @accounts, :id, :name,
                            {:include_blank => t('common.undefined')}, {:id => "account_to_id", :class=>"account-select"})%>
  <%else%>
      <span class="form-label">
         <%=t('field.transaction.account_to')%>
      </span>
      <span class="account-name">
        <%= @transaction.account_to.name %>
      </span>
  <%end%>
</div>