<!--account from field-->
<div <% if @transaction.errors[:account_from].present? %>
        class="control-group error"
     <%elsif @transaction.errors.any?%>
        class="control-group success"
     <%else%>
        class="control-group"
     <% end %>>
  <%= label_tag :account_from_id, t('field.transaction.account_from'), :class => 'control-label' %>
  <div class="controls">
    <%= collection_select(:transaction, :account_from_id, @accounts, :id, :name_with_amount,
        {:include_blank => t('common.undefined')},
        {:id => 'account_from', :disabled => !@task_new, :title => t('tooltip.input.transaction.account_from')})%>
  </div>
</div>