<!--cash to field-->
<div <% if @transaction.errors[:account_to].present? %>
        class="control-group error"
     <%elsif @transaction.errors.any?%>
        class="control-group success"
     <%else%>
        class="control-group"
     <% end %>>
  <%= label_tag :account_to_id, t('field.transaction.cash_to'), :class => 'control-label' %>
  <div class="controls">
    <%= collection_select(:transaction, :account_to_id, @cashes, :id, :name_with_amount,
        {:include_blank => t('common.undefined')},
        {:id => 'account_to', :disabled => !@task_new, :title => t('tooltip.input.transaction.cash_to')})%>
  </div>
</div>