<div class="form form-transaction">
  <div class="form-header">
    <span>
      <%=getNewTitle(@transaction_type)%>
    </span>
  </div>
  <div class="form-body">
    <%= render 'form' %>
    <%= link_to t(:button_back), transactions_path(:type => @transaction_type), :class=>"link" %>
  </div>
</div>
