<!--notification block-->
<div class="alert alert-success" style="display: none;">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <span class="message"></span>
  <!--dynamically content-->
</div>

<!--errors block-->
<div class="alert alert-error no-disp" style="display: none;">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <span class="message"></span>
  <!--dynamically content-->
</div>

