
  <li class="dropdown">
    <a class="dropdown-toggle " data-toggle="dropdown" href="#">
      <%=user_full_name%>
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li><%= link_to t('menu.user.profile'), edit_user_profile_path %></li>
      <li><%= link_to t('menu.user.logout'), logout_path, :confirm => t('message.confirm.logout') %></li>
    </ul>
  </li>