<!--account name field-->
<div <% if @account.errors[:name].present? %>
        class="control-group error"
     <%elsif @account.errors.any?%>
        class="control-group success"
     <%else%>
        class="control-group"
     <% end %>>
  <%= label_tag :name, t('field.common.name'), :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :name, :class => 'input-xlarge'%>

    <p class="help-block no-disp">
      <%=t('tooltip.input.account.name')%>
    </p>
  </div>
</div>