<!--account amount field-->
<div <% if @account.errors[:amount].present? %>
        class="control-group error"
     <%elsif @account.errors.any?%>
        class="control-group success"
     <%else%>
        class="control-group"
     <% end %>>
  <%= label_tag :amount, t('field.account.amount'), :class => 'control-label'%>
  <div class="controls">
    <div class="input-append">
      <%= f.text_field :amount, :class => 'input-small', :readOnly => 'readonly'%>
      <span class="add-on"><%=t('currency')%></span>
    </div>

    <p class="help-block no-disp">
      <%=t('tooltip.input.account.amount')%>
    </p>
  </div>
</div>